@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: coral;
  --secondary-color: chocolate;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
}
nav {
  padding: 1rem 0;
}
#navbar ul {
  list-style: none;
}
#navbar ul li {
  color: #333;
  display: inline-block;
  padding: 16px;
  position: relative;
}
#navbar ul li a {
  color: #333;
  text-decoration: none;
}
#navbar ul li ul {
  display: none;
}
#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}
#navbar ul li:hover a {
  color: #fff;
}
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  width: 200px;
  margin-top: 16px;
  left: 0;
}
#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}
#navbar ul li:hover ul li a {
  color: #333;
}
#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: #333;
}
#navbar ul li:hover ul li span {
  float: right;
  color: #fff;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
}
#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}
#showcase {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--primary-color);
}
#showcase h1 {
  color: #fff;
  font-size: 4rem;
  padding: 2rem 0;
}
#showcase p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 576px) {
  nav ul li {
    display: block;
  }
  nav ul li:hover ul {
    width: 100%;
    position: relative;
  }
  #showcase h1 {
    font-size: 2rem;
  }
  #showcase p {
    font-size: 0.8rem;
  }
}